<div>
  <h1>{{title}}</h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let forecast of forecasts">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="">
            location_city
          </mat-icon>
          {{forecast.city}}
        </mat-panel-title>
        <mat-panel-description>
          <div class="title-description">
            <mat-icon>thermostat</mat-icon>Temperature: {{forecast.temperature}}
          </div>
          <div class="title-description">
            <mat-icon>wb_sunny</mat-icon>Sunrise: {{forecast.sunrise | date:'hh:mm'}}
          </div>
          <div class="title-description">
            <mat-icon>nightlight_round</mat-icon>Sunset: {{forecast.sunset | date:'hh:mm'}}
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h4>Next 5 forecasts</h4>
      <mat-chip-list>
        <div *ngFor="let item of forecast.forecastList" class="forecast-list-item">
            <strong>Time: {{item.dt_txt | date:'MMM d, y'}}</strong><br>
            <hr>
            Sea Level: {{item.main.sea_level}}<br>
            Temperature: {{item.main.temp}}
        </div>
      </mat-chip-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
