h4 {
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 5px;
}
.forecast-list-item {
    padding: 5px 10px;
    margin-right: auto;
}

.mat-expansion-panel-header {
    border-bottom: 1px solid rgb(0 0 0 / 18%);
    border-radius: initial;
}

.mat-expansion-panel-header-title {
    align-items: center;
    max-width: 200px;
    .mat-icon {
        margin-right: 5px;
    }
}
.mat-expansion-panel-header-description {
    justify-content: space-around;
}
.title-description {
    padding: 5px;
    margin-left: 5px;
    .mat-icon {
        vertical-align: middle;
        padding: 3px;
    }
}